* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.image {
    display: flex;
    flex-direction: column;
}

#music-choice {
    border: .2rem solid rgba(240, 173, 28, 0.658);
    border-radius: .5rem;
    background-color: rgba(224, 85, 43, 0.705);
    padding: 1rem;
}

#music-choice input[type="button"] {
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgba(133, 11, 133, 0.911);
    color: rgba(231, 228, 16, 0.925);
    font-size: 1.5rem;
}

.image {
    height: 100%;
    width: 100%;
    background: url(../pics/concert_hall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keys {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 50%;
}

.key {
    position: relative;
    top: 25%;
    display: flex;
    flex-direction: column;
    border: .5rem solid rgba(240, 173, 28, 0.658);
    padding: 1.5rem;
    font-size: 2.5rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(230, 227, 204, 0.774);
    margin: .2rem;
    height: 100%;
    width: 7%;
    transition: all 0.25s;
}

.playing {
    transform: scale(0.95);
    border-color: rgba(180, 18, 229, 0.87);
    box-shadow: 0px .5rem 1rem .5rem rgba(27, 35, 230, 0.91);
}

kbd {
    border: .1rem solid rgba(107, 107, 109, 0.781);
    border-radius: .5rem;
    background-color: rgba(230, 230, 230, 0.671);
}

.sound {
    text-align: center;
    margin-top: 50%;
}